@import "tailwindcss";

@theme {
  /* Custom Breakpoints */
  --breakpoint-2xs: 375px;
  --breakpoint-xs: 425px;
  /* Custom Colors */
  --color-*: initial;
  --color-desaturated-red: hsl(0, 36%, 70%);
  --color-soft-red: hsl(0, 93%, 68%);
  --color-dark-grayish-red: hsl(0, 6%, 24%);
  --color-white: hsl(0, 0%, 100%);
  --color-chablos: hsl(0, 100%, 98%);
  --color-your-pink: hsl(0, 80%, 86%);
  --color-geraldine: hsl(0, 74%, 74%);
  /* Custom Fonts */
  --font-josefin-sans: "Josefin Sans", "ui-sans-serif", "system-ui", "sans-serif";
}

@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300 400 600;
  font-display: swap;
  src: url("./assets/fonts/JosefinSans-VariableFont_wght.woff2") format("woff2");
}